@model SysnaraIMAVA.Models.Año

@{
    ViewData["Title"] = "Nuevo";
}

<div class="container mt-5">
    <h2 class="mb-4 text-center" style="font-family: Russo One, sans-serif;">Registrar Nuevo Año</h2>
    <form asp-action="Create" class="bg-light p-4 rounded shadow">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row mb-3">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Idaño" class="control-label">ID Año</label>
                    <input asp-for="Idaño" class="form-control" id="IdañoInput" />
                    <span asp-validation-for="Idaño" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="AñoInicio" class="control-label">Fecha Inicial</label>
                    <input type="date" asp-for="AñoInicio" class="form-control" />
                    <span asp-validation-for="AñoInicio" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="AñoFin" class="control-label">Fecha Final</label>
                    <input type="date" asp-for="AñoFin" class="form-control" />
                    <span asp-validation-for="AñoFin" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Observacion" class="control-label">Observación</label>
                    <input asp-for="Observacion" class="form-control" />
                    <span asp-validation-for="Observacion" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-primary">Crear</button>
                <a class="btn btn-secondary" asp-action="Index">Regresar a la Lista</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

        @if (TempData["WarningMessage"] != null)
        {
            <script>
                Swal.fire({
                    icon: 'warning',
                    title: 'Advertencia',
                    text: '@Html.Raw(TempData["WarningMessage"])',
                    confirmButtonText: 'Aceptar'
                });
            </script>
        }

        @if (TempData["SuccessMessage"] != null)
        {
            <script>
                Swal.fire({
                    icon: 'success',
                    title: '¡Éxito!',
                    text: '@Html.Raw(TempData["SuccessMessage"])',
                    confirmButtonText: 'Aceptar'
                });
            </script>
        }
    }
}