@model SysnaraIMAVA.Models.Matricula

@{
    ViewData["Title"] = "Edit";
}

<h2 style="font-family: Russo One, sans-serif;">Editar datos del Estudiante</h2>
<hr />
<div class="row">
   <form asp-action="Edit" enctype="multipart/form-data">
     <div class="neon-border">
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-2">
                <label asp-for="Idaño" class="control-label">ID Año</label>
                <select asp-for="Idaño" class="form-control" asp-items="ViewBag.Idaño"></select>
                <span asp-validation-for="Idaño" class="text-danger"></span>
            </div>
            <div class="form-group col-2" hidden>
                <label asp-for="Idimvencargado" class="control-label">ID Encargado</label>
                <select asp-for="Idimvencargado" class="form-control" asp-items="ViewBag.Idencargado"></select>
                <span asp-validation-for="Idimvencargado" class="text-danger"></span>
            </div>
            <div class="form-group col-2">
                <label asp-for="Idpadre" class="control-label">ID Padre</label>
                <input asp-for="Idpadre" class="form-control" />
                <span asp-validation-for="Idpadre" class="text-danger"></span>
            </div>
            <div class="form-group col-3">
                <label asp-for="NombrePadre" class="control-label">Nombre del Padre o Encargado</label>
                <input asp-for="NombrePadre" class="form-control" />
                <span asp-validation-for="NombrePadre" class="text-danger"></span>
            </div>
            <div class="form-group col-2">
                <label asp-for="Parentesco" class="control-label">Parentesco</label>
                <select asp-for="Parentesco" class="form-control">
                    <option value=""></option>
                    <option value="padre">PADRE</option>
                    <option value="madre">MADRE</option>
                    <option value="encargado">ENCARGADO(A)</option>
                    <option value="hermano">HERMANO(A)</option>
                    <option value="tio">TIO(A)</option>
                    <option value="abuelo">ABUELO(A)</option>
                    <option value="primo">PRIMO(A)</option>
                </select>
                <span asp-validation-for="Parentesco" class="text-danger"></span>
            </div>
            <div class="form-group col-2">
                <label asp-for="TelefonoPadre" class="control-label">Teléfono</label>
                <input asp-for="TelefonoPadre" class="form-control" />
                <span asp-validation-for="TelefonoPadre" class="text-danger"></span>
            </div>
        </div> @* fin de la fila 1 *@
        <div class="row">
            <div class="form-group col-2">
                <label asp-for="CelPadre" class="control-label">Celular</label>
                <input asp-for="CelPadre" class="form-control" />
                <span asp-validation-for="CelPadre" class="text-danger"></span>
            </div>
            <div class="form-group col-5">
                <label asp-for="DireccionPadre" class="control-label">Dirección del Padre o Encargado</label>
                <input asp-for="DireccionPadre" class="form-control" />
                <span asp-validation-for="DireccionPadre" class="text-danger"></span>
            </div>
        </div> @* fin de fila 2 *@
    </div> @* fin del cuadro neon *@
    <br />
    @* ------------------------------ DATOS DEL ESTUDIANTES -------------------------------- *@
    <div class="neon-border">
        <div class="row"> 
            <input type="hidden" asp-for="Idest" />
            <div class="form-group col-2">
                <label asp-for="Idestudiante" class="control-label">Identidad</label>
                <input asp-for="Idestudiante" class="form-control" />
                <span asp-validation-for="Idestudiante" class="text-danger"></span>
            </div>
            <div class="form-group col-3">
                <label asp-for="NombreEstudiante" class="control-label">Nombre del Estudiante</label>
                <input asp-for="NombreEstudiante" class="form-control" />
                <span asp-validation-for="NombreEstudiante" class="text-danger"></span>
            </div>
            <div class="form-group" style="width:180px;">
                <label asp-for="Nacionalidad" class="control-label">Nacionalidad</label>
                <select asp-for="Nacionalidad" class="form-control">
                    <option value="hondureño">HONDUREÑO(A)</option>
                    <option value="masculino">EXTRANJERO(A)</option>
                </select>
                <span asp-validation-for="Nacionalidad" class="text-danger"></span>
            </div>
            <div class="form-group" style="width:180px;">
                <label asp-for="FechaNacimiento" class="control-label">Fecha de Nacimiento</label>
                <input type="date" asp-for="FechaNacimiento" class="form-control" />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group col-3">
                <label asp-for="LugarNacimiento" class="control-label">Lugar de Nacimiento</label>
                <input asp-for="LugarNacimiento" class="form-control" />
                <span asp-validation-for="LugarNacimiento" class="text-danger"></span>
            </div>
        </div>@*  Fin fila 1 estudiante *@
        <div class="row">@*  Inicio fila 2 estudiante  *@
            <div class="form-group col-2">
                <label asp-for="Genero" class="control-label">Género</label>
                <select asp-for="Genero" class="form-control">
                    <option value=""></option>
                    <option value="femenino">FEMENINO</option>
                    <option value="masculino">MASCULINO</option>
                </select>
                <span asp-validation-for="Genero" class="text-danger"></span>
            </div>
            <div class="form-group col-1">
                <label asp-for="TipoSangre" class="control-label">Tipo Sangre</label>
                <select asp-for="TipoSangre" class="form-control">
                    <option value=""></option>
                    <option value="A+">A+</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B-">B-</option>
                    <option value="AB+">AB+</option>
                    <option value="AB-">AB-</option>
                    <option value="O+">O+</option>
                    <option value="O-">O-</option>
                </select>
                <span asp-validation-for="TipoSangre" class="text-danger"></span>
            </div>
            <div class="form-group col-1">
                <label asp-for="Alergia" class="control-label">Alergias</label>
                <select asp-for="Alergia" class="form-control">
                    <option value="no">NO</option>
                    <option value="si">SI</option>
                </select>
                <span asp-validation-for="Alergia" class="text-danger"></span>
            </div>
            <div class="form-group col-1">
                <label asp-for="Edad" class="control-label">Edad</label>
                <input type="number" asp-for="Edad" class="form-control" />
                <span asp-validation-for="Edad" class="text-danger"></span>
            </div>
            <div class="form-group col-2">
                <label asp-for="TelefonoEstudiante" class="control-label">Teléfono</label>
                <input asp-for="TelefonoEstudiante" class="form-control" />
                <span asp-validation-for="TelefonoEstudiante" class="text-danger"></span>
            </div>
            <div class="form-group col-2">
                <label asp-for="CelularEstudiante" class="control-label">Celular</label>
                <input asp-for="CelularEstudiante" class="form-control" />
                <span asp-validation-for="CelularEstudiante" class="text-danger"></span>
            </div>
        </div> @* Fin fila 2 estudiante  *@
        <div class="row"> @* Inicio fila 3 estudiante *@
            <div class="form-group col-2">
                <label asp-for="Correo" class="control-label">Correo</label>
                <input type="email" asp-for="Correo" class="form-control" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group col-5">
                <label asp-for="Direccion" class="control-label">Dirección del Estudiante</label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group col-2">
                <label asp-for="Estado" class="control-label">Estado</label>
                <select asp-for="Estado" class="form-control">
                    <option value=""></option> @* <--- opcion en blanco *@
                    <option value="activo">ACTIVO</option>
                    <option value="inactivo">INACTIVO</option>
                </select>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group" style="width:150px;">
                <label asp-for="VacunasCovid" class="control-label">Vacunas Covid</label>
                <input type="number" asp-for="VacunasCovid" class="form-control" />
                <span asp-validation-for="VacunasCovid" class="text-danger"></span>
            </div>
        </div>
      </div> @* Fin Datos del Estudiante  *@
      <br />
      <div class="neon-border"> @* INICIO Datos Académicos *@
         <div class="row">
            <div class="form-group col-2">
                <label asp-for="Idgrado" class="control-label">ID Grado</label>
                <select asp-for="Idgrado" class="form-control" asp-items="ViewBag.Idgrado"></select>
                <span asp-validation-for="Idgrado" class="text-danger"></span>
            </div>
            <div class="form-group col-2">
                <label asp-for="Grado" class="control-label">Grado</label>
                <input asp-for="Grado" class="form-control" />
                <span asp-validation-for="Grado" class="text-danger"></span>
            </div>
            <div class="form-group col-1">
                <label asp-for="Seccion" class="control-label">Sección</label>
                <input asp-for="Seccion" class="form-control" />
                <span asp-validation-for="Seccion" class="text-danger"></span>
            </div>
            <div class="form-group col-2">
                <label asp-for="Jornada" class="control-label">Jornada</label>
                <input asp-for="Jornada" class="form-control" />
                <span asp-validation-for="Jornada" class="text-danger"></span>
            </div>
            <div class="form-group col-5">
                <label asp-for="NivelDescripcion" class="control-label">Nivel Académico Escolar</label>
                <input asp-for="NivelDescripcion" class="form-control" />
                <span asp-validation-for="NivelDescripcion" class="text-danger"></span>
            </div>
        </div> @* Fin Datos académicos fila 1 *@
        <div class="row">
            <div class="form-group col-5">
                <label asp-for="Proviene" class="control-label">Institución de donde proviene el estudiante</label>
                <input asp-for="Proviene" class="form-control" />
                <span asp-validation-for="Proviene" class="text-danger"></span>
            </div>
            <div class="form-group col-2">
                <label asp-for="Beca" class="control-label">Beca</label>
                <input asp-for="Beca" class="form-control" />
                <span asp-validation-for="Beca" class="text-danger"></span>
            </div>
            <div class="form-group col-1">
                <label asp-for="RepiteAño" class="control-label">Repitente</label>
                <input asp-for="RepiteAño" class="form-control" />
                <span asp-validation-for="RepiteAño" class="text-danger"></span>
            </div>
            <div class="form-group col-2">
                <label asp-for="EstadoMatricula" class="control-label">Estado de Ingreso</label>
                <input asp-for="EstadoMatricula" class="form-control" />
                <span asp-validation-for="EstadoMatricula" class="text-danger"></span>
            </div>
            <div class="form-group col-4">
                <label asp-for="Observacion" class="control-label">Observación</label>
                <input asp-for="Observacion" class="form-control" />
                <span asp-validation-for="Observacion" class="text-danger"></span>
            </div>
            <div class="form-group col-2">
                <label asp-for="FechaIngreso" class="control-label">Fecha de Ingreso</label>
                <input asp-for="FechaIngreso" class="form-control" />
                <span asp-validation-for="FechaIngreso" class="text-danger"></span>
            </div>
@*             <div class="form-group col-2">
                <label asp-for="Sistema" class="control-label">Sistema</label>
                <input asp-for="Sistema" class="form-control" />
                <span asp-validation-for="Sistema" class="text-danger"></span>
            </div> *@
@*             <div class="form-group">
                <label asp-for="SistemaClase" class="control-label"></label>
                <input asp-for="SistemaClase" class="form-control" />
                <span asp-validation-for="SistemaClase" class="text-danger"></span>
            </div> *@
@*             <div class="form-group col-2">
                <label asp-for="SistemaTiempo" class="control-label">Sistema (Periodo)</label>
                <input asp-for="SistemaTiempo" class="form-control" />
                <span asp-validation-for="SistemaTiempo" class="text-danger"></span>
            </div> *@
@*                 <div class="form-group col-2">
                    <label class="control-label">Fotografía</label>
                    <input type="file" name="fotoInput" class="form-control" accept="image/*" />
                    <span asp-validation-for="FotoData" class="text-danger"></span>
                </div> *@
        </div>
    </div>
        <br /><br />
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" /> | 
                <a class="btn btn-warning" asp-action="Index">Regresar a la Lista</a>
            </div>
        </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
